<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>About Us</title>
</head>
<body>
<header>
    <div class="container">
        <div id="slogan">
            <h1>
                Crowd Source
                <span class="txt-type" data-wait="3000" data-words='["Beta Testing", "Professionalism", "Efficiency"]'></span>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html" th:href="@{/}"> Home</a> </li>
                <li class="current"><a href="about.html" th:href="@{/about}"> About Us</a> </li>
                <li><a href="profile.html" th:href="@{/profile}"> Profile</a> </li>
                <li><a href="register.html" th:href="@{/register}"> Sign Up</a> </li>
            </ul>
        </nav>
    </div>
</header>

<section id="main">
    <div class="container">
        <div class="box">
            <article id="main-col">
                <h1 class="page-title"> About us </h1>
                    <p>Beta testing offers keen insights into how customers will interact with your software.
                        By releasing a product, such as a mobile app, before you before beta testing —
                        also known as User Acceptance Testing (UAT) — you run the risk of failure.
                        You need to convince users that your mobile app is something they need to use on a regular basis.
                        Users today are impatient and have high expectations, so if you release software that doesn’t perform,
                        they’ll quickly move on.
                        Crowdsourced beta testing allows you to see whether or not your product meets user expectations before and after you ship it.
                        Crowdsourced beta testing means putting your product in the hands of real people with real devices all
                        around the world to see how your software performs. By discovering how your product works in real-world
                        conditions, you can confidently release a product that will provide a positive user experience.
                        Crowdsourced beta testing not only tests your product for usability, it also affirms:

                    <ul style="list-style-type: disc">
                        <li>Quality</li>
                        <li>Reliability</li>
                        <li>Functionality</li>
                        <li>Security</li>
                        <li>Stability</li>
                    </ul>

                    CSBT crowdsourced beta testing services to help you fine-tune your software.
                    With thousands of testers all over the globe using an array of different mobile devices, you will get immediate
                    feedback on whether or not your mobile app is ready to be released. When you use in-house beta testers,
                    your software development team can’t be assured that the feedback will be free of cognitive biases.
                    CSBT’s professional testers are free from those biases. They are free from feeling the need to please you with
                    their feedback. They are motivated only by giving you honest input that will help you succeed. CSBT chooses
                    expert testers who resemble our target customer base who can:

                    <ul style="list-style-type: disc">
                        <li>Use different devices in multiple locations</li>
                        <li>Point out missing functionality</li>
                        <li>Identify absent error conditions, interface glitches, and more</li>
                        <li>Report bugs and allow you to see test results in real-time</li>
                        <li>Crowdsourced beta testing allows you to find and fix problems that could affect how well users accept
                        your software.</li>
                        <li>With CSBT, you can quickly get reliable, meaningful feedback on every facet of your mobile app,
                        from speed to security to quality assurance. </li>
                        <li>Release with confidence and avoid losing revenue when you utilize
                        CSBT'S software testing services.</li>
                    </ul>

                        Reach out to us today to learn more about all of CSBT's professional crowdsourced testing services and
                        how we can meet all of your testing needs.
                    </p>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>Why Us</h3>
                    <p>We believe crowdtests should be simple, scalable, and flexible. Just choose the objective for your test,
                    tell us what devices you need, and provide plain English instructions. Human-powered doesn’t mean slow. With CSBT,
                    you can get quality feedback earlier and more often while running comprehensive final tests faster than ever.
                    </p>
                    <h3>Contact Us</h3>
                    <p>Email: hello@csbt.info</p>
                    <p>Call Us: +447542695147 </p>
                    <p>Address:CSBT Inc.
                        535 Mission St.
                        San Francisco, CA 94105
                        USA</p>
                </div>
            </aside>


        </div>
    </div>
</section>


<footer>


    <a href="index.html" th:href="@{/}"> Home</a>
    <a href="about.html" th:href="@{/about}">Contact Us</a>
    <a href="register.html" th:href="@{/register}">Profile</a>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>