<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Sign Up</title>
</head>
<body>
<header>
    <div class="container">
        <div id="slogan">
            <h1>
                Crowd Source
                <span class="txt-type" data-wait="3000" data-words='["Beta Testing", "Professionalism", "Efficiency"]'></span>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html"> Home</a> </li>
                <li><a href="about.html"> About Us</a> </li>
                <li class="current"><a href="signin.html"> Profile</a> </li>
                <li><a href="register.html"> Sign Up</a> </li>
            </ul>
        </nav>
    </div>
    



    </div>
</header>




<footer>


    <a href="index.html"> Home</a>
    <a href="about.html">Contact Us</a>
    <a href="profile.html">Profile</a>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</footer>
</body>
</html>